<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AccountController</servlet-name>
    </filter-mapping>-->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AccountManagementController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AccountManagementController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AccountController</servlet-name>
        <servlet-name>MaterialManagementController</servlet-name>
        <servlet-name>NotificationController</servlet-name>
        <servlet-name>OrderController</servlet-name>
        <servlet-name>OrderManagementController</servlet-name>
        <servlet-name>QueueManagementController</servlet-name>
        <servlet-name>ReportController</servlet-name>
        <servlet-name>AccountManagementController</servlet-name>
        <servlet-name>PrinterManagementController</servlet-name>
        <servlet-name>TechHomeController</servlet-name>
        <servlet-name>UserHomeController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>MaterialManagementController</servlet-name>
        <servlet-name>OrderManagementController</servlet-name>
        <servlet-name>QueueManagementController</servlet-name>
        <servlet-name>ReportController</servlet-name>
        <servlet-name>AccountManagementController</servlet-name>
        <servlet-name>PrinterManagementController</servlet-name>
        <servlet-name>TechHomeController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>views.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>views.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialManagementController</servlet-name>
        <servlet-class>views.MaterialManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>views.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>views.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementController</servlet-name>
        <servlet-class>views.OrderManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>views.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueueManagementController</servlet-name>
        <servlet-class>views.QueueManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>views.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagementController</servlet-name>
        <servlet-class>views.AccountManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>views.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrinterManagementController</servlet-name>
        <servlet-class>views.PrinterManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechHomeController</servlet-name>
        <servlet-class>views.TechHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeController</servlet-name>
        <servlet-class>views.UserHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountController</servlet-name>
        <servlet-class>views.VerifyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupController</servlet-name>
        <servlet-class>views.BackupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialManagementController</servlet-name>
        <url-pattern>/materialmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementController</servlet-name>
        <url-pattern>/ordermgmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueueManagementController</servlet-name>
        <url-pattern>/queue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/reportmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagementController</servlet-name>
        <url-pattern>/accountmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrinterManagementController</servlet-name>
        <url-pattern>/printermanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechHomeController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeController</servlet-name>
        <url-pattern>/userhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupController</servlet-name>
        <url-pattern>/backup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/404Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/500Error.jsp</location>
    </error-page>
</web-app>
