/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Feb-2019, 12:21:01 PM
    Author     : harma
*/
body{
    background-color: #EEEAED;
}
.carousel-slide-fade-enter-active {
    transition: all 1s ease;
    opacity: 1;
}
.carousel-slide-fade-leave-active {
    transition: all .02s ease-out;
    /*opacity: 0.5;*/
}
.carousel-slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
}

.carouselOverlay{
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.overlayContainer{
    position: relative;
    text-align: center;
    color: white;
}

.carouselOverlay h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.text-outline{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}